.katex,
.katex-display,
.katex-display > .katex {
  text-align: left;
  background: var(--code-color-vim-normal-bg);
  color: var(--code-color-vim-normal-fg);
}
/*
.katex-display {
  padding-left: 2rem;
}
/*
/* general code font styles */
.katex-display,
.katex .mathnormal,
.katex,
math {
  font: var(--fonts-size-regular) var(--fonts-family-mono);
  /*
  font-family: var(--fonts-family-mono);
  font-size: var(--fonts-size-regular);
  */
}

/* Comments */
.hljs-comment,
.hljs-quote {
  font-style: italic;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LAYOUT                                                                      *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.katex {
  margin: -0.1rem 0;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
}

.katex-display {
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}
.katex-display > .katex {
  padding: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * SCROLL BEHAVIOUR/STYLES                                                     *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.katex-display {
  overflow-x: scroll;
}

.katex-display::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.katex-display::-webkit-scrollbar-track {
  background-color: var(--code-color-vim-normal-bg);
  border-radius: 0.25rem;
}

.katex-display::-webkit-scrollbar-thumb {
  background-color: var(--colors-action);
  border-radius: 0.25rem;
}
